
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

footer {
    border: 1px solid blue;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
    max-width: 100%;
    text-align: center;
}