@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Montserrat&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  
}

body {
    background-color: #FCD34D;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    /* border:  1px solid green; */
}

nav #nav-heading {

    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;

}

main {
    width: 60%;
    margin: auto;

    background: #F3F4F6;
    border-radius: 1rem;
    padding: 0.5rem;
}

main .container {
    /* border: 1px solid red; */

    width: 60%;

    margin: 2rem auto; 

    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;

    
}

.container input {
    margin-bottom: 2rem;
    height: 4vh;

    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    
}

.container button {
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    font-size: 1rem;
    font-weight: 600;
}

.container textarea {
    min-height: 15vh;
    max-height: 20vh;

    text-align: center;
    padding: 2.5rem 1rem;
    font-size: 1.1rem;
    font-weight: 600;

    border: 1px solid black;
    border-radius: 0.5rem;
}

main .error-message {

    /* border: 1px solid yellow; */
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

footer {
    /* border: 1px solid blue; */
    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
    max-width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 1rem 2rem;
}
